
<!-- Page 1-->

<div id="page1">
  <div></div>
  <div>
    <img src="assets/logo.png"/>
    <h1><span>&#8721;</span>urèka</h1>
    <h2>Light up blind spot</h2>
  </div>
  <div class="scroll-arrow">
    <i class="fa fa-long-arrow-down fa-3x" aria-hidden="true" (click)="scroll(page2)"></i>
  </div>
</div>

<!-- Page 2-->

<div id="page2" #page2>
  <h1>Ottimizzazione dei processi di learning, forniamo servizi alle imprese</h1>
  <div>
     <p>    Siamo impegnati da ormai dieci anni nel fornire alle imprese servizi funzionali per ottimizzare la loro idea di business.
    Quello che proponiamo oggi ad Unikey è di ottimizzare il modus operandi dell'azienda, mediante una centralizzazione e una maggiore implementazione dei servizi di HR.
    L'idea consiste in una maggiore profilazione del discente, mediante incontri più ravvicinati con HRs e profilers durante
    tutto un primo modulo generale, per poter scoprire le inclinazioni dello stesso.
     </p>
  </div>
  <div class="scroll-arrow">
    <i class="fa fa-long-arrow-down fa-3x" aria-hidden="true" (click)="scroll(page3)"></i>
  </div>
  </div>
<!-- Page 3-->

<div id="page3" #page3>
  <h1>Ottimizzazione dei processi di learning, forniamo servizi alle imprese</h1>
  <p> Ciò ci permette di interfacciarci prima con le aziende e poter proporre prima i discenti e chiedere
    alle aziende partner su quali skills il discente può essere formato.
    Le aziende, quindi, forniranno il budget per la formazione del discente, che verrà plasmato su richiesta,
    a partire dalle proprie inclinazioni e punti di forza.
    Le aziende partner potranno inoltre usufruire del discente, assengnandogli task su misura propri del processo
    produttivo delle stesse, di modo da iniziare un inserimento del discente immediato nel mondo del lavoro,
    per colmare il gap tutt'ora esistente tra il percorso di academy e quello di consulenza.</p>

  <div class="scroll-arrow">
    <i class="fa fa-long-arrow-down fa-3x" aria-hidden="true" (click)="scroll(page4)"></i>
  </div>
</div>

<div id="page4" #page4>
  <h1>Ottimizzazione dei processi di learning, forniamo servizi alle imprese</h1>
  <p>
    Il costo della formazione viene così ammortizzato, in quanto Unikey ha oneri relativi solo al primo segmento
  del percorso di arricchimento del discente. Inoltre, ha maggiori opportunità di valutazione del discente stesso,
  al fine di marginalizzare il rischio di perdita di capitale umano e risorse.
  </p>
</div>

