@import "~font-awesome";
$yellow: #FFF24D;
$orange: #E58926;
$black: #131313;

body{
  color: $black;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }

}

#page1{

  background: $orange url("assets/subtle-prism.svg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  p{
    font-size: 25px;
  }
  img{
    width: 200px;
  }
  h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 16px;
    span{
      font-size: 120px;
      line-height: 100%;
    }
    h2{
      font-size: 40px;
      font-weight: 700;
    }
  }



}

#page2{
  background: $orange url("assets/subtle-prism.svg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  p{
    font-size: 30px;
  }
  h1{
    padding-top: 8rem;
  }

}

#page3{
  background: $orange url("assets/subtle-prism.svg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  h1{
    padding-top: 8rem;
  }
  p{
    font-size: 30px;
  }
}
#page4{
  background: $orange url("assets/subtle-prism.svg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  h1{
    padding-top: 8rem;
  }
  p{
    font-size: 27px;
    padding: 0 3rem;
  }
}
.scroll-arrow {
  animation: bounce 0.4s ease-in-out 0s infinite alternate;
  margin-bottom: 8px;
}

i {
  cursor: pointer;
}
@keyframes bounce{
  from{transform: translateY(-20%)}
  to{transform: translateY(0)}
}

